* {
  outline: 0;
  user-select: none;
  box-sizing: border-box;
}

body {
  margin: 0;
  line-height: 1;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover,
button:hover {
  cursor: pointer;
}
